.profile-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
    color: #747b85;
}

@media (max-width: 700px) {
    .profile-list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
    }
}